html {
	position: relative; 
	min-height: 100%;
}

html, body {
	margin:0;
	padding:0;
}

/*---------- Header ----------*/

body > header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgb(0,150,255);
	border-bottom: 3px solid rgb(0,100,150);
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	text-align: center;
}

body > header > * {
	width: 33%;
}

body > header h1 {
	font-size: 2.5em;
	margin: 0;
	padding: 0;
}

body > header h1 a {
	color: rgb(255,255,255);
	text-decoration: none;
}

#createAccount {
	color: white;
	background: none;
	border: none;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

#createAccount:focus {
	outline: none;
}

#createAccount:hover {
	text-decoration: underline;
}

/*---------- Main ----------*/

body > main {
	display: flex;
	align-items: center;	
	width: 100%;
	margin-top: 100px;
	margin-bottom:100px;
}

#numberTable {
	border-collapse: collapse;
	text-align: center;
}

#numberTable td {
	border: 1px solid white;
	color: white;
}

#numberTable .number:hover {
	background: rgb(70, 120, 255);
}


#numberTable #box td > button {
	padding: 0;
	margin: 0;
	background: none;
	color: white;
	width: 100%;
}

#numberTable #box td > button:hover {
	background: none;
}

#numberTable th {
	color: rgb(70, 120, 255);
	background: white;
	width: 30%;
}

/*---------- Box ----------*/

#box {
	background: rgb(100, 150, 255);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
	border-color: rgb(100, 150, 255);
	border-radius: 50px;
	border: 10px double white;
	text-align: center;
}

#box > * {
	padding: 20px;
}

#boxHeader {
	display: flex;
	justify-content: space-around;
	background: rgb(80, 120, 255);
	border-radius: 40px 40px 0 0;
	height: 10%;
}

#boxHeader img {
	width: 50px;
	height: 50px;
}

#back {
	visibility: hidden;
}

#boxMain {
	background: rgb(100, 150, 255);
	height: 80%;
}

#boxFooter {
	background: rgb(100, 150, 255);
	border-radius: 0 0 50px 50px;
	height: 10%;
}

.error {
	color: rgb(220, 0, 0);
	font-size: 2em;
}

.good{
	color: rgb(0, 220, 0);
	font-size: 2em;
}

/*---------- Footer ----------*/

body > footer {
	position: absolute;
    	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid rgb(0,100,150);
	background: rgb(0,150,255);
	height: 70px;
	text-align: center;
	color: white;
	font-weight: bold;
}

@media all and (max-width: 1280px)
{	
	#box {
		width: 60%;
	}

}

@media all and (max-width: 800px)
{	
	#box {
		width: 70%;
	}
	
}