/* Ballot number table */
#numberTable {
	border-collapse: collapse;
	text-align: center;
}

#numberTable td {
	border: 1px solid white;
	color: white;
}

#numberTable .number:hover {
	background: rgb(70, 120, 255);
}


#numberTable td > button {
	padding: 0;
	margin: 0;
	background: none;
	color: white;
	width: 100%;
}

#numberTable td > button:hover {
	background: none;
}

#numberTable th {
	color: rgb(70, 120, 255);
	background: white;
	width: 30%;
}

/* ballot result */
#resultTable {
	border-collapse: collapse;
	text-align: center;
	width: 60%;
}

#resultTable td {
	border: 1px solid white;
	color: white;
}

#resultTable th {
	background: rgb(70, 120, 255);
	border: 1px solid white;
	color: white;
}

