#intro {
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}

#box button {
	margin: 30px;
	padding: 5px;
	/*width: 300px;
	height: 100px;*/
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 1.5em;
	
		
	width: fit-content; 
	height: fit-content;
}

#box button:hover {
	background: white;
}


@media all and (max-width: 1280px)
{	

	/*#box button {
		width: 200px;
		height: 50px;
		font-size: 1em;
	}*/
}

@media all and (max-width: 800px)
{	
	
	/*#box button {
		width: 150px;
		height: 50px;
	}*/
}