#intro {
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}

#box button {
	margin: 10px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 1.5em;
	
		
	width: fit-content; 
	height: fit-content;
}

#box button:hover {
	background: white;
}